--index-url https://download.pytorch.org/whl/cu124
--extra-index-url https://pypi.org/simple

torch==2.6.0+cu124
torchvision==0.21.0+cu124
torchaudio==2.6.0+cu124
torchmetrics==1.6.1
numpy==1.26.3
opencv-python==4.10.0.84
wandb==0.19.1
pydantic==2.10.4
omegaconf==2.3.0
pymatting==1.1.13
pillow==10.2.0
onnxruntime==1.20.1
onnx==1.17.0
matplotlib==3.10.0