torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
pydantic-settings==2.8.1
pydantic==2.10.6
numpy==1.26.3
pillow==11.1.0
fastapi[all]==0.115.9
uvicorn==0.34.0
onnxruntime==1.21.0
prometheus-fastapi-instrumentator==7.0.2
prometheus-client==0.21.1
pymatting==1.1.13
opencv-python-headless==4.10.0.84
python-json-logger==3.3.0
transformers==4.49.0