torch==2.6.0+cu124
torchvision==0.21.0+cu124
matplotlib~=3.10.0
tqdm
wandb==0.19.1
torchmetrics
mlxtend
torchinfo
pillow==10.2.0
numpy==1.26.3
albumentations==2.0.4
scipy
pydantic==2.10.4
onnx==1.17.0
onnxscript
onnxruntime==1.20.1
omegaconf==2.3.0
opencv-python==4.10.0.84
pymatting==1.1.13